In [1]:
import pandas as pd
import numpy as np

#### Create a multi Index DF

In [13]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
        np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

s = pd.Series(np.random.randn(8), index=arrays)
s = s.to_frame()
s.head()

                0
bar one -0.346044
    two -0.170866
baz one -0.162897
    two  1.349305
foo one -2.807254

#### Moving a multi index to column

In [23]:
s['test'] = s.index.get_level_values(1)
s.head()

                0 test
bar one -0.346044  one
    two -0.170866  two
baz one -0.162897  one
    two  1.349305  two
foo one -2.807254  one

#### Testing Git Push